@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<div class="sidebar">
    <ul>
        <li><a href="/Profile/About">About</a></li>
        <li><a href="/Profiel/Hobbies">Hobbies</a></li>
    </ul>
</div>
