@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    ViewData["Title"] = "Hobbies";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>@ViewData["Title"]</h2>
<ul>
    <li>Gaming</li>
    <li>Music</li>
    <li>Coding Projects</li>
</ul>
@await Html.PartialAsync("_Sidebar")